<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dyno</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  .eq > table > tbody > tr > td > span {
    height:120px; float:left; margin:10px
  }

  </style>
  <script src="static/jquery-1.12.4.js"></script>
  <script src="static/jquery-ui.js"></script>
  <script src="static/socket.io.js"></script>
  <script src="static/jquery.sparkline.js"></script>
  <script src="static/dyno.js"></script>
  <script>
  $( function() { 
    var stats_socket = io.connect('http://localhost:8127');
    stats_socket.on('connect', function (data) {
      stats_socket.emit('subscribe', 'all');
      // TODO We can add timers and get additional performance information
      // stats_socket.emit('subscribe', 'timers');
    });
    stats_socket.on('all', function(data) {
      if (data){
        processMolotov(data);
      }
    });

    var socket = io.connect('http://localhost:8999');

    $.get({
        url: window.location.origin + "/api/apps?full=1",
        contentType: "application/json",
        dataType: 'json',
        success: function(result){
          drawProxies(result);
          drawLg(result);
        }
    });
  } );
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="static/dino.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
      <a class="navbar-brand" href="#">APM Dyno</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#legendModal" aria-current="page" href="#">Legend</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <h1>
      Load test your Opbeans applications
      <img src="static/dino.jpg" width="100px">
    </h1>
    <p>Start load tests for services on the left and control the performance of services using their respective sliders</p>
  </div>

  <div id="legendModal" class="modal" tabindex="-1" aria-labelledby="legendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="legendModalLabel">APM Dyno Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <h5 class="card-header bg-success text-white">Load Generator</h5>
                <div class="card-body">
                  <p class="card-text"><span class="fw-bold">W:</span> Workers</p>
                  <p class="card-text"><span class="fw-bold">Er:</span> Error rate</p>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="card">
                <h5 class="card-header bg-danger text-white">Network conditions</h5>
                <div class="card-body">
                  <p class="card-text"><span class="fw-bold">L:</span> Latency</p>
                  <p class="card-text"><span class="fw-bold">J:</span> Jitter</p>
                  <p class="card-text"><span class="fw-bold">B:</span> Bandwidth</p>
                  <p class="card-text"><span class="fw-bold">SC:</span> Slow close</p>
                  <p class="card-text"><span class="fw-bold">Sas:</span> Slicer [Avg size]</p>
                  <p class="card-text"><span class="fw-bold">Sd:</span> Slicer [Delay]</p>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="card">
                <h5 class="card-header bg-primary text-white">Operating system</h5>
                <div class="card-body">
                  <p class="card-text"><span class="fw-bold">CPU:</span> Processor quota</p>
                  <p class="card-text"><span class="fw-bold">Mem:</span> Container memory</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="load-controls" class="col-sm-2">
          <label for="scenarios">Select a load generation scenario</label>
          <p></p>
          <select name="scenarios" id="scenarios_selector" class="form-select" aria-label="Load generation examples selector">
            <option selected="selected">Default</option>
          </select>
          <hr>
          <div id="load-stats">
            <div id="get_stats" class="card" id="get-stats-card"></div>
            <div id="post_stats" class="card" id="post-stats-card"></div>
          </div>
      </div>
      <div class="col-sm-10">
        <div class="row" id="proxy-container"></div>
      </div>
    </div>
    <div class="row" id="load-container"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
